
// Assign Bulma colors
$tan: #e6e3da;
$bronze: #7a7163;
$brown: #3c3931;
$eggplant: #666390;
$purple: #8d8bb2;
$lavender: #bbbad1;
$black: black;
$white: #ffffff;
$gray: #9fa49f;
$light-gray: #d9d9d9;



// Update Bulma's global variables
$primary: $eggplant
$link: $bronze
$info: $brown
$success: $tan
$warning: $purple
$danger: $lavender
$white: $white
$black: $black
$light: $light-gray
$dark: $gray
$body-color: $light-gray
$body-background-color: $brown
$list-style-type: none;
$tabs-boxed-link-active-background-color: $light-gray !important;


// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;